#body {
  background-color: tomato;
  background-size: 100%;
  font-family: Helvetica;
  color: #000000;
}
#landing-page {
  text-align: center;
  font-family: Helvetica;
  font-size: 50px;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 30px;
}
#about-us {
  background-image: url(../images/bg-pizza.jpg);
  background-size: 100%;
  font-size: 20px;
  color: #000000;
  height: 500px;
  text-align: center;
}
